.marker {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted #FF8B0C;
    transition: all 0.5s;

  &__text {
    width: 120px;
    background-color: #ff8b0c;
    color: black;
    text-align: center;
    padding: 5px 0;
    border-radius: 3px;
    position: absolute;
    z-index: 1;
  }

  &::after {
    content: " ";
    position: absolute;
    top: 10%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #43e895 transparent transparent transparent;
  }

}
